@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FFF000;
    margin: auto;
}

nav{
    width: 1180px;
    height: 80px;
    padding: 8px 10px 12px 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    
}

.logoLetra{
    width: 170px;
    height: 40px;
}

.logoUbi{
    width: 22px;
    height: 25px;
}

.logo-ubi{
    display: flex;
}

li{
    list-style: none;
}

.lista-input, .lista-publicidad {
    display: flex;
    gap: 10px;
}

.carrito{
    width: 22px;
    height: 25px;
}

.img-publicidad{
    width: 380px;
    height: 40px;
}

.input-search{
    width: 500px;
    height: 32px;
}

.contenedor-logos{
    
}