*{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: linear-gradient(to right,#d81313, #ffe601, #f18901);
    padding: 0px;
    margin: 0px;
}

main{
    padding: 100px;
    display: flex;
    justify-content: center; 
    padding-top: 30px;
}

.historia{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

img{
    margin-top: 70px;
}

.juntarImg{
    display: flex;
}

.cabeza{
    text-align: center;
}

.titulo{
    color: #f18901;
    text-align: center;
}

span{
  font-style:italic;
  color: #d81313;
}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom, #000000, rgb(5, 5, 5,0));
    background-position: bottom;
    position: fixed;
    width: 100%;
}

.enlace{
    text-decoration: none;
    color: black;
    border: solid 1px;
    padding: 15px 30px;
    border-radius: 14px;
}

.enlace:hover{
    color: #ff000083;
    text-decoration: underline;
}

.galeria{
    display: flex;
    width: 600px;
    height: 430 px;
}

.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.sombra{
  box-shadow: 15px 15px 10px #37383763;
  width: 315px;
  height: 30px;
  padding: 20px;
}

.shadow{
    filter:drop-shadow(
        0 0 10px rgb(30, 255, 0)
    );
    margin: 0px;
    animation: movimiento 10s infinite;
}

img{
    border-radius: 15px;
}

p{
    animation: movimiento 6s infinite;
    font-size: 20px;
}

@keyframes movimiento{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}